.enjoy-pc {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.enjoy-pc .title {
  text-align: center;
  color: #000;
  font-size: 0.64rem;
  margin-bottom: 0.75rem;
}

.enjoy-pc .enjoy-swiper {
  position: relative;
}

.enjoy-pc .enjoy-swiper .swiper-slide {
  width: 11.2rem;
  position: relative;
  padding-bottom: 0.3rem;
}

.enjoy-pc .enjoy-swiper .swiper-slide img {
  height: 6.4rem;
}

.enjoy-pc .enjoy-swiper .swiper-slide div {
  color: #000;
  font-size: 0.2rem;
  text-align: center;
  margin-top: 0.3rem;
}

.enjoy-pc .enjoy-swiper .swiper-pagination {
  position: absolute;
  left: 50%;
  top: inherit;
  bottom: 0;
  height: 3px;
  width: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.enjoy-pc .enjoy-swiper .swiper-pagination span {
  background-color: #ee7b3a;
}

.enjoy-pc .enjoy-swiper .swiper-slide-next div {
  display: none;
}

.enjoy-pc .enjoy-swiper .swiper-slide-prev div {
  display: none;
}

.enjoy-pc .enjoy-swiper .swiper-slide-next::after {
  position: absolute;
  left: 0;
  top: 48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 1.58rem;
  height: 2.91rem;
  background: #4e4e4e;
  opacity: 0.66;
  background-image: url(../../images/carModel/enjoy/arrow2.png);
  background-size: 0.26rem 0.49rem;
  background-repeat: no-repeat;
  z-index: 22;
  cursor: pointer;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.enjoy-pc .enjoy-swiper .swiper-slide-next:hover::after {
  background-color: #2f2f2f;
}

.enjoy-pc .enjoy-swiper .swiper-slide-prev:hover::after {
  background-color: #2f2f2f;
}

.enjoy-pc .enjoy-swiper .swiper-slide-prev::after {
  position: absolute;
  right: 0.05rem;
  top: 48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 1.58rem;
  height: 2.91rem;
  background: #4e4e4e;
  opacity: 0.66;
  z-index: 22;
  background-image: url(../../images/carModel/enjoy/arrow1.png);
  background-size: 0.26rem 0.49rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.enjoy-mb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.enjoy-mb .title {
  text-align: center;
  color: #000;
  font-size: 0.43rem;
  margin-bottom: 0.75rem;
}

.enjoy-mb .enjoy-swiper {
  position: relative;
  overflow: hidden;
}

.enjoy-mb .enjoy-swiper .swiper-slide {
  width: 6.1rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.enjoy-mb .enjoy-swiper .swiper-slide img {
  height: 3.5rem;
}

.enjoy-mb .enjoy-swiper .swiper-slide div {
  color: #000;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.3rem;
}

.enjoy-mb .enjoy-swiper .swiper-pagination {
  position: absolute;
  left: 50%;
  top: inherit;
  bottom: 0;
  height: 2px;
  width: 80%;
  background-color: #e1e1e1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.enjoy-mb .enjoy-swiper .swiper-pagination span {
  background-color: #ee7b3a;
}
/*# sourceMappingURL=enjoy.css.map */