.safety-pc {
  /* margin-top: 0.73rem; */
  height: 16.5rem;
  position: relative;
}

.safety-pc .safety-pc-top {
  background-color: #b7d1cd;
  height: 10.68rem;
}

.safety-pc .bg {
  width: 100%;
  height: 7.92rem;
  padding: 1.17rem 1.15rem 0 1.15rem;
  position: absolute;
  top: 0;
}

.safety-pc .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.safety-pc .bg .title {
  color: #355c53;
  font-size: 0.4rem;
  position: absolute;
  right: 2.5rem;
  top: 0.75rem;
}

.safety-pc .bg .title2 {
  color: #355c53;
  font-size: 0.4rem;
  position: absolute;
  right: 1.15rem;
  top: 1.3rem;
  z-index: 22;
}

.safety-pc .bottom {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 8.5rem;
}

.safety-pc .bottom .safety-swiper {
  position: relative;
}

.safety-pc .bottom .safety-swiper .swiper-slide {
  width: 11.2rem;
  position: relative;
  padding-bottom: 0.3rem;
}

.safety-pc .bottom .safety-swiper .swiper-slide img {
  height: 6.4rem;
}

.safety-pc .bottom .safety-swiper .swiper-slide div {
  color: #000;
  font-size: 0.20rem;
  text-align: center;
  margin-top: 0.3rem;
  
}

.safety-pc .bottom .safety-swiper .swiper-pagination {
  position: absolute;
  left: 50%;
  top: inherit;
  bottom: 0;
  height: 3px;
  width: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.safety-pc .bottom .safety-swiper .swiper-pagination span {
  background-color: #ee7b3a;
}

.safety-pc .bottom .safety-swiper .swiper-slide-next div {
  display: none;
}

.safety-pc .bottom .safety-swiper .swiper-slide-prev div {
  display: none;
}

.safety-pc .bottom .safety-swiper .swiper-slide-next::after {
  position: absolute;
  left: 0;
  top: 48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 1.58rem;
  height: 2.91rem;
  opacity: 0.66;
  background-size: 0.26rem 0.49rem;
  z-index: 22;
  cursor: pointer;
  background: #4e4e4e url(../../images/carModel/enjoy/arrow2.png) no-repeat center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.safety-pc .bottom .safety-swiper .swiper-slide-next:hover::after {
  background-color: #2f2f2f;
}

.safety-pc .bottom .safety-swiper .swiper-slide-prev:hover::after {
  background-color: #2f2f2f;
}

.safety-pc .bottom .safety-swiper .swiper-slide-prev::after {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  right: 0.055rem;
  top: 48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 1.58rem;
  height: 2.91rem;
  background: #4e4e4e;
  opacity: 0.66;
  z-index: 22;
  background-image: url(../../images/carModel/enjoy/arrow1.png);
  background-size: 0.26rem 0.49rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.safety-mb {
  margin-top: 0.73rem;
  height: 12rem;
  position: relative;
}

.safety-mb .safety-pc-top {
  background-color: #b7d1cd;
  height: 7.12rem;
}

.safety-mb .bg {
  width: 6.8rem;
  height: 4.21rem;
  position: absolute;
  top: 0;
}

.safety-mb .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem 0 0.65rem 0;
}

.safety-mb .bg .title {
  color: #355c53;
  font-size: 0.5rem;
  position: absolute;
  right: 0.5rem;
  top:0.45rem;
}

.safety-mb .bg .title2 {
  color: #355c53;
  font-size: 0.5rem;
  position: absolute;
  right: 0rem;
  top: 1rem;
  z-index: 22;
}

.safety-mb .bottom {
  position: absolute;
  width: 100%;
  top: 6rem;
}

.safety-mb .bottom .safety-swiper {
  position: relative;
  overflow: hidden;
}

.safety-mb .bottom .safety-swiper .swiper-slide {
  width: 6.1rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.safety-mb .bottom .safety-swiper .swiper-slide img {
  height: 3.5rem;
}

.safety-mb .bottom .safety-swiper .swiper-slide div {
  color: #000;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.3rem;
  
}

.safety-mb .bottom .safety-swiper .swiper-pagination {
  position: absolute;
  left: 50%;
  top: inherit;
  bottom: 0;
  height: 2px;
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.safety-mb .bottom .safety-swiper .swiper-pagination span {
  background-color: #ee7b3a;
}
/*# sourceMappingURL=safety.css.map */
