

.t1 .carShow .carSwiper .swiper-slide .frontW_0{top: 1.74rem; left: 1.58rem;width: 1.3rem;}
.t1 .carShow .carSwiper .swiper-slide .rearw_0{top: 1.74rem; left: 6.32rem;width: 1.3rem;}
.t1 .carShow .title img{width: 1.09rem;}
.t1 .modelTestDrive .l img{width:7.57rem ;}



@media (max-width: 1012px)
{
    .t1 .carShow .carSwiper .swiper-slide .frontW_0{    top: 1.43rem; left: 0.95rem;}
    .t1 .carShow .carSwiper .swiper-slide .rearw_0{ top: 1.43rem; left: 5.2rem;}
}