@charset "UTF-8";
.css-1kwn7si{ height: auto;}

.level-menu{position: fixed; top: 0; left: 0; width: 100%; height: 0.82rem; display: flex; justify-content: center; align-items: center; background-color: #fff; z-index:3333;  transition: all 0.5s;}
.level-menu .centerCon{display: flex; justify-content: space-between; align-items: center; width: 95%; height: 100%; position: relative;}
/* .level-menu .centerCon a.logo{height: 0.3rem; width: 1.55rem; margin-right:2.8rem;} */
.level-menu .centerCon a.logo img{width: 100%}
.level-menu .centerCon a.logo{height: 0.3rem; width: 1.55rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.level-menu .rightMemu{display: flex; justify-content: space-between; align-items: center;  height: 0.31rem; width: 1.45rem;}
/* width: 1.45rem; */
.level-menu .rightMemu a{height:100%; display: block; width: 0.28rem; height: 0.28rem; cursor: pointer;}
.level-menu .rightMemu a img{height: 100%;}
.level-menu .rightMemu .language{font-size: 0.16rem; font-weight: bold; border: 0.02rem solid #2a2a2a;border-radius: 50%;  line-height: 0.26rem; text-align: center;   width: 0.28rem;  height: 0.28rem;  position: relative; cursor: pointer; color: #2a2a2a;}
/* border: 0.03rem solid #2a2a2a;border-radius: 50%; */
.level-menu .leftMemu{ display: flex; align-items: center;}
.level-menu .leftMemu .level{font-size: 0.2rem; color: #4d4c4c; padding: 0 0.3rem; height: 100%; line-height: 0.82rem;  position: relative; font-weight: 600;}
.level-menu .leftMemu .level a{ color: #4d4c4c;}


.level-menu .leftMemu .level:hover{background-color: #39aeb2; }
.level-menu .leftMemu .level .seM{position: absolute; top: 0; left: 0;}

.level-menu .languageMenu{position: absolute; top: 0.5rem; left: 50%; padding: 0.2rem; width: 1.5rem; background-color: rgba(0, 0, 0, 0.8); transform: translateX(-50%); opacity:0; visibility: hidden;  transition: all 0.5s;}
.level-menu .languageMenu.on{opacity:1; visibility: visible;  transition: all 0.5s;}
.level-menu .language.on .languageMenu{opacity:1; visibility: visible;  transition: all 0.5s; z-index: 2625;}
.level-menu .languageMenu::after { display: block;width: 0;height: 0; border: 0.1rem solid transparent; border-bottom-color: rgba(0, 0, 0, 0.8);position: absolute;content: ""; top: -0.18rem; left: calc( 50% - 0.09rem);}
.level-menu .languageMenu a{width: 100%; color: #fff; display: block; height: 0.4rem; line-height: 0.4rem; border-bottom: 0.01em solid #fff; font-size: 0.2rem; font-weight: 400;}
.level-menu .languageMenu a:last-child{border-bottom: none;}
.level-menu .seBg{height: 0; overflow: hidden; border-bottom: #e5e5e5 1px solid; background-color: #f8f9f9; position: absolute; top: 0.82rem; left: 0; width: 100%; opacity: 0; visibility: hidden; transition: all 0.5s;}
.level-menu .seBg.on{height: 0.97rem; opacity: 1; visibility: visible; transition: all 0.5s;}
.level-menu .vehiclesMenu{ height: 0;  position: fixed; top: 0.82rem; left: 0; width: 100%; display: flex; opacity: 0; visibility: hidden; z-index: 66; transition: all 0.5s; font-weight: 400;}
.level-menu .vehiclesMenu.on{ height: 6.4rem;   opacity:1; visibility: visible; transition: all 0.5s;}
.level-menu .vehiclesMenu .secondLevel{height: 100%; width: 3.86rem; border-right: #e0e0e0 1px solid; background-color: #f8f9f9; padding-top:0.56rem;}
.level-menu .vehiclesMenu .secondLevel a{margin-left: 1.2rem; display: block; padding-left: 0.34rem; width: 3.14rem; height: 0.88rem; line-height: 0.88rem; color: #4d4c4c;}
.level-menu .vehiclesMenu .secondLevel a:hover{background: url(../../images/common/left_bg.png) no-repeat left center ; background-size: 100% auto; font-weight: bold;}
.level-menu .vehiclesMenu .secondLevel a.on{background: url(../../images/common/left_bg.png) no-repeat left center ; background-size: 100% auto; font-weight: bold;}
.level-menu .vehiclesMenu .con{ width: 15.34rem; height: 100%; display: flex; position: relative; background-color: #fff;}
.level-menu .vehiclesMenu .con li{ width: 100%; display: flex; position: absolute; top: 0; left: 0; height: 100%; opacity: 0; visibility: hidden;  transition: all 0.5s;}
.level-menu .vehiclesMenu .con li.on{opacity: 1; visibility: visible;  transition: all 0.5s;}
.level-menu .vehiclesMenu .con .word{width: 4.96rem; background-color: #ffffff; display: flex; }
.level-menu .vehiclesMenu .con .word .wordCon{ padding-left: 0.76rem; padding-top: 1.8rem;}
.level-menu .vehiclesMenu .con .word .wordCon .logoW{height: 0.44rem;}
.level-menu .vehiclesMenu .con .word .wordCon .logoW img{ height: 100%;}
.level-menu .vehiclesMenu .con .word .wordCon .url a{font-size: 0.2rem; color: #4d4c4c; padding-right: 0.2rem;}
.level-menu .vehiclesMenu .con .word .wordCon .url a:last-child{padding-left: 0.2rem;}
.level-menu .vehiclesMenu .con .pic{width: 10.36rem;  background-color: #ffffff; height: 100%; overflow: hidden;}
.level-menu .vehiclesMenu .con .pic img{width: 100%; height: 100%; object-fit: cover;}
.level-menu .blue_btn{ display: flex; justify-content: center; align-items: center;position: relative; color:white; background:#39aeb2; width: 2rem; height: 0.43rem; margin-bottom: 0.12rem;font-size: 0.16rem;}
.level-menu .blue_btn img{position: absolute;width: 0.17rem;right: 30%;top: 50%;transform: translateY(-50%);opacity: 0;transition:all 0.5s ease-in-out;}
.level-menu .blue_btn span{width: 100%;position: absolute;left: 0%;top: 50%;text-align: center;transform: translateY(-50%);transition:all 0.5s ease-in-out;}
.level-menu .blue_btn:hover span{opacity: 1;left: -10%;transition:all 0.5s ease-in-out;}
.level-menu .blue_btn:hover img{opacity: 1;right: 20%;transition:all 0.5s ease-in-out;}
.level-menu .leftMemu .level .blue_btn{color: #fff;}

.level-menu .leftMemu .level .seM {display: flex; width: 90vw; position: absolute; top: 0.8rem; left: 0; height: 0.97rem; opacity: 0; visibility: hidden; z-index:66;transition: all 0.5s;}
.level-menu .leftMemu .level .seM a{font-size: 0.2rem; color: #4d4c4c; padding: 0 0.24rem; line-height:0.97rem; font-weight: 400;}
.level-menu .leftMemu .level .seM a:hover{text-decoration: underline;}
.level-menu .leftMemu .level .seM.on{opacity:1; visibility: visible;  transition: all 0.5s;}
.level-menu.out{top: -0.82rem;   transition: all 0.5s;}
.menu-button {
  /* position: absolute;
   top: 0px;
   left: 0px; */
   padding: 0.08rem;
   cursor: pointer;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 margin-right: 1.2rem;
 /* margin-left: 2.72rem; */
   /* background-color: #2c8dfb; */
 }

 .menu-button .bar:nth-of-type(1) {
   margin-top: 0px;
 }

 .menu-button .bar:nth-of-type(3) {
   margin-bottom: 0px;
 }

 .bar {
   position: relative;
   display: block;
   width: 0.4rem;
   height: 0.04rem;
   margin: 0.1rem auto;
   background-color: #000000;
   border-radius: 0;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }

 /* .menu-button:hover .bar:nth-of-type(1) {
   -webkit-transform: translateY(1.5px) rotate(-4.5deg);
   -ms-transform: translateY(1.5px) rotate(-4.5deg);
   transform: translateY(1.5px) rotate(-4.5deg);
 }

 .menu-button:hover .bar:nth-of-type(2) {
   opacity: 0.9;
 }

 .menu-button:hover .bar:nth-of-type(3) {
   -webkit-transform: translateY(-1.5px) rotate(4.5deg);
   -ms-transform: translateY(-1.5px) rotate(4.5deg);
   transform: translateY(-1.5px) rotate(4.5deg);
 } */

 .cross .bar:nth-of-type(1) {
   -webkit-transform: translateY(0.12rem) rotate(-45deg);
   -ms-transform: translateY(0.12rem) rotate(-45deg);
   transform: translateY(0.12rem) rotate(-45deg);
 }

 .cross .bar:nth-of-type(2) {
   opacity: 0;
 }

 .cross .bar:nth-of-type(3) {
   -webkit-transform: translateY(-0.14rem) rotate(45deg);
   -ms-transform: translateY(-0.14rem) rotate(45deg);
   transform: translateY(-0.14rem) rotate(45deg);
 }

 .cross:hover .bar:nth-of-type(1) {
   -webkit-transform: translateY(0.14rem) rotate(-40.5deg);
   -ms-transform: translateY(0.14rem) rotate(-40.5deg);
   transform: translateY(0.14rem) rotate(-40.5deg);
 }

 /* .cross:hover .bar:nth-of-type(2) {
   opacity: 0.1;
 } */

 .cross:hover .bar:nth-of-type(3) {
   -webkit-transform: translateY(-0.14rem) rotate(40.5deg);
   -ms-transform: translateY(-0.14rem) rotate(40.5deg);
   transform: translateY(-0.14rem) rotate(40.5deg);
 }


 .level-menu .mobileCon{position: fixed; visibility: hidden;  left: 0; top:1.06rem; background-color: #ffffff;  width:100%; z-index: 2622;overflow-y: auto; height: calc( 100% - 1.06rem); overflow-x: hidden;transition: all 0.5s; opacity: 0;}
 .level-menu .mobileCon ul{  width: 100vw;}
 .level-menu .mobileCon li .m{ height: 1.44rem; display: flex; align-items: center; justify-content:space-between; font-size: .36rem; color: #4d4c4c; padding: 0 0.32rem; background-color: #f5f7f7;}
 .level-menu .mobileCon li .m a{color:#4d4c4c; padding-left: 0.38rem;}
 .level-menu .mobileCon li .m span{ height: 100%; width: 1rem; display:flex; justify-content: flex-end; align-items: center;}
 .level-menu .mobileCon li .arrow{ width: 0.27rem; height: 0.15rem; transform:rotateZ(-90deg); transition: all 0.5s;}
 .level-menu .mobileCon li .mobilecontent{ width: 6.72rem; margin: 0 auto;  height: 0; overflow: hidden; opacity: 0; transition: all 0.5s;}

 .level-menu .mobileCon li .mobilecontent .mBtn{ width: 100%; height: 4.25rem; display: block; margin-bottom: 0.28rem;}
 .level-menu .mobileCon li .mobilecontent .mBtn .pic{ width: 100%; height: 3.35rem; object-fit: cover;}
 .level-menu .mobileCon li .mobilecontent .mBtn span{ display: flex; justify-content: center; align-items: center; height: 0.9rem;}
 .level-menu .mobileCon li .mobilecontent .mBtn .title{ height: 0.28rem; }

 .level-menu .mobileCon li .mobilecontent .mBtn1{ font-size: 0.34rem; height: 1rem; display: flex; align-items: center; color:#4d4c4c; padding-left: 0.7rem;}
 .level-menu .mobileCon li .mobilecontent >a:first-child{padding-top: 0.34rem;}
 .level-menu .mobileCon li .mobilecontent >a:last-child{padding-bottom: 0.68rem;}
 .level-menu .mobileCon li.on .mobilecontent{height:auto;  opacity: 1;  transition: all 0.5s;}
 .level-menu .mobileCon li.on .arrow{transform:rotateZ(0); transition: all 0.5s;}
 .level-menu .mobileCon.on{ opacity: 1; visibility: visible;  width:100%;transition: all 0.5s;}
/* header {
  background-color: #fff;
  height: 1.1rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2000;
  border-bottom: 1px solid #e1e1e1;
  font-family:Poppins;
}
header .level-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .level-menu .centerCon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
/* header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.76rem;
}

header .left .nav-tgl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 0.5rem;
  height: 0.27rem;
  padding: 0;
  background: #fff;
  text-align: center;
}

header .left .nav-tgl > span {
  display: block;
  position: relative;
  height: 2px;
  width: 0.34rem;
  border-radius: 1px;
  background: #333;
  vertical-align: middle;
}

header .left .nav-tgl > span:before,
header .left .nav-tgl > span:after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #333;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .left .nav-tgl > span:before {
  top: 0.11rem;
  left: 0px;
  width: 0.22rem;
}

header .left .nav-tgl > span:after {
  top: 0.22rem;
  left: 0px;
  width: 0.28rem;
}

header .left .nav-tgl:focus {
  outline: none;
}

header .left .nav-tgl:hover > span:after,
header .left .nav-tgl:hover > span:before {
  width: 0.34rem;
  left: 0;
}

header .left .nav-tgl.toggled > span {
  height: 0;
}

header .left .nav-tgl.toggled > span:after,
header .left .nav-tgl.toggled > span:before {
  top: 0px;
  left: 0;
  width: 0.34rem;
}

header .left .nav-tgl.toggled > span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .left .nav-tgl.toggled > span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0.6rem;
  position: relative;
}

header .right .language-text {
  width: 0.34rem;
  height: 0.34rem;
  font-size: 0.16rem;
  margin-right: 0.3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.03rem solid #000;
  font-weight: bold;
}

header .right .language {
  width: 0.34rem;
  height: 0.34rem;
  cursor: pointer;
  margin-right: 0.24rem;
}

header .right .location{
  width: 0.36rem;
  height: 0.36rem;

  cursor: pointer;
  display: inline-block;

}
header .right .location img{
	width: 100%;
}
header .right .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0.15rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .right .description .description-1 {
  font-size: 0.12rem;
  color: #a9a9a9;
  letter-spacing: 0.01rem;
}

header .right .description .description-2 {
  color: #000;
  font-size: 0.14rem;
  
  letter-spacing: 0.006rem;
} */

/* header .right::after {
  width: 0.01rem;
  height: 0.32rem;
  background-color: #eaeaea;
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -0.3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* header .left .rightAlb::after {
  width: 0.01rem;
  height: 0.32rem;
  background-color: #eaeaea;
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -0.3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .logo {
  width: 1.55rem;
  height: 0.3rem;
  cursor: pointer;
} */

.change-country-box {
  position: fixed;
  width: 100%;
  height: 0px;
  background-color: #fff;
  bottom: -300px;
  z-index: 3000;
  padding: 5% 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.change-country-box .title {
  font-size: 0.66rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.change-country-box .content-box {
  margin: 0 auto;
  margin-top: 0.66rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.change-country-box .content-box .description {
  font-size: 0.16rem;
  
  line-height: 0.3rem;
  text-align: center;
}

.change-country-box .content-box .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 0.8rem;
}

.change-country-box .content-box .input-box input {
  width: 3.7rem;
  font-size: 0.18rem;
  border-bottom: 1px solid #000;
}

.change-country-box .content-box .input-box ul {
  position: absolute;
  border: 1px solid #d9d9d9;
  max-height: 3rem;
  width: 3.68rem;
  top: 0.6rem;
  left: 0;
  overflow-y: scroll;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  
}

.change-country-box .content-box .input-box ul li {
  font-size: 0.16rem;
  cursor: pointer;
  padding: 0.12rem 0.18rem 0.12rem 0.18rem;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.change-country-box .content-box .input-box ul li img {
  width: 0.2rem;
}

.change-country-box .content-box .input-box .swith-btn {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  background-color: #000;
  border: none;
  margin-left: 0.2rem;
  min-width: 2.4rem;
  color: #fff;
  text-align: center;
  
  font-size: 0.16rem;
  letter-spacing: 0.04rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.change-country-box .content-box .input-box .swith-btn-disable {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  background-color: #d9d9d9;
  border: none;
  margin-left: 0.2rem;
  min-width: 2.4rem;
  color: #fff;
  text-align: center;
  
  font-size: 0.16rem;
  letter-spacing: 0.04rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: not-allowed;
}

.change-country-box .close {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0.2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0.4rem;
  
  cursor: pointer;
}

.change-country-box .close img {
  width: 0.2rem;
  height: 0.2rem;
}

.change-country-box.on{
  height: 85vh;
  bottom: 0px;
}



.menu-pc {
  position: absolute;
}

.menu-pc .left {
  width: 26%;
  /* background-color: #68a598; */
  background-color: #000000;
  height: 100vh;
  position: fixed;
  z-index: 22222;
  opacity: 0;
  left: 0;
  top: -100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  padding-top: 2.15rem;
}

.menu-pc .left ul {
  width: 100%;
  height: 100%;
  /* padding: 0rem 0.7rem 0 1.78rem; */
  padding: 0rem 0.7rem 0 1rem;
}

.menu-pc .left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.72rem;
  cursor: pointer;
}

.menu-pc .left ul li div {
  font-size: 0.26rem;
  letter-spacing: 0.01rem;
  /* color: #fff; */
  /* color:#5a5a5a; */
  color:#838383;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family:Poppins;
}

.menu-pc .left ul li img {
  width: 0.22rem;
  cursor: pointer;
}

.menu-pc .left ul li .open-img {
  opacity: 0.5;
}

.menu-pc .left ul li:hover div {
  /* color: #ff874a; */
  color:#fff;
}

.menu-pc .left ul li:hover .open-img {
  /* color: #ff874a; */
  opacity: 1;
}

.menu-pc .right {
  width: 74%;
  height: 100vh;
  z-index: 22222;
  opacity: 0;
  /* background-color: #558b7f; */
  background-color: #000;
  position: fixed;
  top: -100vh;
  right: 0;
  overflow: hidden;
  padding-top: 2.15rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-pc .right ul {
  width: 100%;
  height: 100%;
  padding-left: 1.1rem;
}

.menu-pc .right ul li {
  font-size: 0.26rem;
  margin-bottom: 0.72rem;
  letter-spacing: 0.02rem;
  /* color: #fff; */
 /* color: #5a5a5a; */
  color: #a8a7a7;
  cursor: pointer;
 /*  */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-pc .right ul li:hover {
  /* color: #ff874a; */
  color:#fff;
}

/* .menu-pc .right .car {
  position: absolute;
  bottom: 0;
  right: -7rem;
  z-index: -1;
  width: 18rem;
} */

 .menu-pc .right .carBox {
  position: absolute;
  top: 0;
  right: 0rem;
  /* z-index: -1; */
  width: 10.29rem;
  height: 100%;
} 
.menu-pc .right .carBox .car {
  width:100%;
} 
.menu-pc .right .carBox .linkBox {
  position: absolute;
  width: 100%;
  height: 1.58rem;
  bottom: 0;
  right: 0;
  font-size: 0.16rem;
  color: #fff;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  text-align: center;
  
} 

.menu-pc .right .carBox .linkBox dt{
  width: 100%;
  height: 0.42rem;
 margin-bottom: 0.3rem;
 text-align: center;
}
.menu-pc .right .carBox .linkBox dt a{
  width: 2rem;
  height: 0.43rem;
  line-height: 0.42rem;
  background-color: #ff8c00;
  color: #fff;
  display: inline-block;
}
.menu-pc .right .carBox .linkBox dd a{
  margin: 0 0.18rem;
  color: #fff;
}
.menu-pc .right .line {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6.55rem;
  opacity: 0.5;
}

.language-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0.2rem;
  width: 1.5rem;
  height: 1.4rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  right: 1.66rem;
  z-index: 2222222222;
  padding-top: 0.2rem;
}

.language-list div {
  color: #fff;
  font-size: 0.16rem;
  border-bottom: 1px solid #eee;
  width: 100%;
  text-align: center;
  padding-bottom: 0.08rem;
  margin-top: 0.08rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 0.2rem;
}

.language-list div:hover {
  color: #ff874a;
}

.language-list div:nth-of-type(2) {
  letter-spacing: 0.01rem;
}

.language-list div:nth-of-type(3) {
  border-bottom: 0;
  letter-spacing: 0rem;
}

.language-list::after {
  display: block;
  width: 0;
  height: 0;
  border: 0.1rem solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  content: "";
  top: -0.2rem;
}

.menu-mb {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 1.07rem;
 /* background-color: #68a598; */
 background-color:#000;
  left: -100%;
  z-index: 222222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-mb .menu-mb-header {
  height: 1.07rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0.5rem;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-mb .menu-mb-header .left {
  width: 0.5rem;
  height: 0.5rem;
}

.menu-mb .menu-mb-header .left img {
  width: 100%;
  height: 100%;
}

.menu-mb .menu-mb-header .center {
  width: 1.72rem;
  height: 0.33rem;
}

.menu-mb .menu-mb-header .center img {
  width: 100%;
  height: 100%;
}

.menu-mb .menu-mb-header .right {
  width: 0.43rem;
  height: 0.43rem;
}

.menu-mb .menu-mb-header .right img {
  width: 100%;
  height: 100%;
}

.menu-mb ul {
 /* margin-top: 1rem; */
  margin-top: 0.5rem;
  height: calc( 100% - 3.16rem);
  overflow-y: auto;
}

.menu-mb ul li .menu-header-box {
  padding: 0 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.menu-mb ul li .menu-header-box .title {
  color: #fff;
  font-size: 0.45rem;
   font-family:Poppins;
}

.menu-mb ul li .menu-header-box img {
  width: 0.27rem;
}

.menu-mb ul li .child-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 0;
 /* background-color: #558b7f; */
 background-color: #000;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-mb ul li .child-menu-list.child-menu_f div{
	padding-left:0.4rem;
}

.menu-mb ul li .child-menu-list .car{
	width: 6.73rem;
}
.menu-mb ul li .child-menu-list div {
  color: #fff;
  font-size: 0.33rem;
  /*  */
  font-family:Poppins;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.menu-mb ul li .child-menu-list div:nth-last-of-type(1) {
  margin-bottom: 0;
}

/*移动端样式*/
@media (max-width: 1012px) {
  header {
    height: 1.07rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 55555;
	font-family:Poppins;
  }
  header .left {
    width: 0.51rem;
    height: 0.33rem;
  }
  header .left img {
    width: 100%;
    height: 100%;
  }
  header .center {
    width: 1.72rem;
    height: 0.33rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  header .center img {
    width: 100%;
    height: 100%;
  }
  header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0.6rem;
    position: relative;
  }
  header .right .language-text {
    width: 0.42rem;
    height: 0.42rem;
    font-size: 0.2rem;
    margin-right: 0.22rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
	font-family: Poppins-Bold;
    border: 0.04rem solid #000;
  }
  header .right img {
    width: 0.4rem;
    height: 0.4rem;
	margin-right: 0.22rem;
  }
  header .right .location{
	  margin-right: 0;
	  width:0.4rem;
	  height:0.4rem;
  }
/*  header .right .location img{
	  width: 100%;
  } */
  .language-list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0.2rem;
    width: 1.5rem;
    height: 2rem;
    top: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    right:1.2rem;
    left: auto;
    z-index: 2222222222;
    padding-top: 0.2rem;
  }
  .language-list div {
    color: #fff;
    font-size: 0.22rem;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: center;
    padding-bottom: 0.15rem;
    margin-top: 0.15rem;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .language-list div:hover {
    color: #ff874a;
  }
  .language-list div:nth-of-type(2) {
    letter-spacing: 0.01rem;
  }
  .language-list div:nth-of-type(3) {
    border-bottom: 0;
    letter-spacing: 0rem;
  }
  .language-list::after {
    display: block;
    width: 0;
    height: 0;
    border: 0.1rem solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    content: "";
    top: -0.2rem;
  }
  .change-country-box {
    position: fixed;
    width: 100%;
    height: 0px;
    background-color: #fff;
    bottom: -300px;
    z-index: 30000;
    padding-top: 1.4rem;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .change-country-box .title {
    font-size: 0.49rem;
    text-align: center;
    padding: 0 2rem;
    color: #4c4c4c;
    letter-spacing: 0.05rem;
  }
  .change-country-box .content-box {
    margin: 0 auto;
    margin-top: 0.6rem;
    position: absolute;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .change-country-box .content-box .description {
    font-size: 0.23rem;
    /*  */
	font-family:Poppins;
    line-height: 0.35rem;
    text-align: center;
    padding: 0 0.65rem;
  }
  .change-country-box .content-box .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.2rem;
    padding: 0 0.7rem;
  }
  .change-country-box .content-box .input-box input {
    width: 95%;
    height: 0.95rem;
    font-size: 0.29rem;
    border-bottom: 1px solid #000;
    text-align: center;
  }
  .change-country-box .content-box .input-box ul {
    position: absolute;
    border: 1px solid #d9d9d9;
    max-height: 3rem;
    width: 83%;
    left: 0.6rem;
    right: 0.7rem;
    overflow-y: scroll;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    bottom: -1.6rem;
    z-index: 222;
    top:auto
  }
  .change-country-box .content-box .input-box ul li {
    font-size: 0.29rem;
    cursor: pointer;
    padding: 0.12rem 0 0.12rem 0.18rem;
    /*  */
	font-family:Poppins;
  }
  .change-country-box .content-box .input-box ul li img {
    width: 0.3rem;
  }
  .change-country-box .content-box .input-box .swith-btn {
    display: inline-block;
    height: 0.8rem;
    background-color: #000;
    border: none;
    width: 100%;
    color: #fff;
    text-align: center;
   /*  */
   font-family:Poppins;
    font-size: 0.29rem;
    letter-spacing: 0.04rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 0.55rem;
    margin-left: 0;
  }
  .change-country-box .content-box .input-box .swith-btn::before {
    width: 0;
    height: 0;
  }
  .change-country-box .content-box .input-box .swith-btn-disable {
    display: inline-block;
    background-color: #d9d9d9;
    border: none;
    height: 0.8rem;
    color: #fff;
    text-align: center;
   /*  */
   font-family:Poppins;
    font-size: 0.29rem;
    margin-left: 0;
    letter-spacing: 0.04rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: not-allowed;
    margin-top: 0.55rem;
  }
  .change-country-box .close {
    width: 0.96rem;
    height: 0.96rem;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 0.3rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
/*     */
	font-family:Poppins;
    cursor: pointer;
  }
  .change-country-box .close img {
    width: 0.28rem;
    height: 0.28rem;
  }
}
/*# sourceMappingURL=header.css.map */


.cookie_wrap {
  display: none;
  width: 100%;
  height: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-top: 1px solid #c8c8c8;
  z-index: 1701
}

.cookie_wrap .cookie_cont {
  height: 100%;
  padding: 0.2rem .82rem 0.2rem .92rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie_wrap .tit {
  font-size: .18rem;
  margin-bottom: .14rem;
  font-weight: bold;
}

.cookie_wrap .det {
  font-size: .16rem;
}

.cookie_wrap .det a {
  color: #00a8ff;
  word-break: break-all;
}

.cookie_wrap .det .setting {
  color: #00a8ff;
  cursor: pointer;
}

.cookie_wrap .btn_wrap, .cookie_pop .btn_wrap {
  display: flex;
  justify-content: flex-end;
}

.cookie_wrap .btn_wrap>div, .cookie_pop .btn_wrap>div, .cookie_det_pop .btn_wrap>div {
  cursor: pointer;
  width: 2.3rem;
  height: .44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: .16rem;
  font-weight: bold;
  border: 1px solid #858585;
}

/*.cookie_wrap .btn_wrap .setting, .cookie_wrap .btn_wrap .understand, .cookie_pop .btn_wrap .accept{background: #c50d27;color: #ffffff;}*/
/*.cookie_wrap .btn_wrap .understand, .cookie_wrap .btn_wrap .reject, .cookie_pop .btn_wrap .back, .cookie_pop .btn_wrap .reject{border: 1px solid #d2d2d2;}*/
.cookie_wrap .btn_wrap .understand {
  margin-right: .18rem;
}

.cookie_wrap .close, .cookie_pop .close, .cookie_det_pop .close {
  transition: all .3s;
  cursor: pointer;
  width: .16rem;
  height: .16rem;
  background: url(../../images/common/close.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 3.6rem;
  top: .2rem;
}

.cookie_wrap .close:hover, .cookie_pop .close:hover, .cookie_det_pop .close:hover {
  transform: scale(1.1);
}

.cookie_wrap .close {
  right: .25rem;
  top: .08rem;
}

.cookie_wrap .cont_lf {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-right: .68rem;
  border-right: 1px solid #d2d2d2;
  margin-right: .68rem;
}

.cookie_wrap .btn_wrap .setting, .cookie_pop .btn_wrap .reject {
  margin-left: .18rem;
}

.cookie_pop, .cookie_det_pop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99999
}

.cookie_pop .cookie_pop_cont {
  padding: .42rem .58rem .3rem;
  box-sizing: border-box;
  width: 9.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.cookie_pop .tit {
  font-size: .3rem;
  font-weight: bold;
  margin-bottom: .12rem;
}

.cookie_pop .det {
  font-size: .16rem;
  line-height: .3rem;
}

.cookie_pop .set_panel {
  margin-top: .4rem;
}

.cookie_pop .set_panel p {
  font-size: .18rem;
  font-weight: bold;
}

.cookie_pop .set_panel .panel_p {
  font-size: .16rem;
  color: #00a8ff;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: .44rem;
  margin-top: .12rem;
  padding: 0 .14rem 0 .2rem;
}

.cookie_pop .set_panel .panel_p .cookie_type {
  cursor: pointer;
}

.cookie_pop .set_panel .cut {
  cursor: pointer;
  transition: all .3s;
  position: relative;
  width: .44rem;
  height: .24rem;
  background: #c1c1c1;
  border-radius: .12rem;
}

.cookie_pop .set_panel .cut span {
  transition: all .3s;
  background: #ffffff;
  display: block;
  width: .18rem;
  height: .18rem;
  border-radius: 50%;
  position: absolute;
  top: .03rem;
  left: .03rem;
}

.cookie_pop .set_panel .cut.on {
  background: #c50d27;
}

.cookie_pop .set_panel .cut.on span {
  left: .23rem;
}

.cookie_pop .set_panel .panel_p .hidden_text {
  display: none;
}

.cookie_pop .cookie_pop_cont .det a {
  color: #00a8ff;
}

/*.cookie_det_pop{display: block;}*/
.cookie_det_pop .cookie_det_pop_cont {
  display: flex;
  box-sizing: border-box;
  width: 11.74rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.cookie_det_pop .tit {
  font-size: .3rem;
  font-weight: bold;
  margin-bottom: .12rem;
}

.cookie_det_pop .det {
  font-size: .16rem;
  line-height: .3rem;
}

.cookie_det_pop .btn_wrap {
  flex-shrink: 0;
  width: 2.5rem;
  border-right: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .46rem;
}

.cookie_det_pop .det_wrap {
  padding: .4rem .5rem;
}

.cookie_det_pop .det_table {
  margin-top: .42rem;
  width: 100%;
  font-size: 0;
}

.cookie_det_pop .det_table img {
  width: 100%;
}

.cookie_det_pop .img_wrap {
  overflow: auto;
  width: 100%;
  height: 2.5rem;
}

.cookie_det_pop .img_wrap::-webkit-scrollbar {
  width: 3px;
}

.cookie_det_pop .img_wrap::-webkit-scrollbar-thumb {
  background: #c50d27;
}

.cookie_det_pop .img_wrap::-webkit-scrollbar-track {
  background: #e2e2e4;
}

.cookie_pop .btn_wrap {
  margin-top: .3rem;
}

.cookie_pop .close, .cookie_det_pop .close {
  right: .18rem;
  top: .14rem;
}
.cookie_wrap.hasDrive{bottom: 1rem;}

@media (max-width: 1012px)
{	
  
  .cookie_wrap{height: 6rem;z-index: 9999; }
	.cookie_wrap .cookie_cont{padding: .6rem .48rem 0;flex-direction: column;height: auto; margin-bottom: 0.6rem;}
	.cookie_wrap .tit{font-size: .32rem;margin-bottom: .2rem;}
	.cookie_wrap .det{font-size: .28rem;line-height: .42rem;}
	.cookie_wrap .btn_wrap, .cookie_pop .btn_wrap{justify-content: space-between;margin-top: 0;}
	.cookie_wrap .btn_wrap>div, .cookie_pop .btn_wrap>div, .cookie_det_pop .btn_wrap>div{width: 2.9rem;height: .8rem;font-size: .26rem;}
	.cookie_wrap .btn_wrap .setting, .cookie_pop .btn_wrap .back, .cookie_pop .btn_wrap .reject{margin-left: 0;}
	.cookie_wrap .close, .cookie_pop .close, .cookie_det_pop .close{width: .24rem;height: .24rem;right: .2rem;top: .2rem;}
	.cookie_wrap .cont_lf{border: none;padding: 0;height: auto;}
	.cookie_wrap .cont_rt{width: 100%;margin-top: 1rem;}
	.cookie_wrap .btn_wrap .reject,.cookie_wrap .btn_wrap .understand{margin-right: .15rem;}
	.cookie_pop .cookie_pop_cont, .cookie_det_pop .cookie_det_pop_cont{padding: .5rem .3rem .58rem;width: 7.2rem;z-index: 99999}
	.cookie_pop .tit, .cookie_det_pop .tit{font-size: .4rem;margin-bottom: .2rem;}
	.cookie_pop .det, .cookie_det_pop .det{font-size: .28rem;line-height: .44rem;text-align: justify;}
	.cookie_pop .set_panel p{font-size: .3rem;}
	.cookie_pop .set_panel .panel_p{font-size: .26rem;height: .64rem;margin-top: .24rem;padding: 0 .14rem 0 .3rem;}
	.cookie_pop .set_panel .cut{width: .8rem;height: .44rem;border-radius: .22rem;}
	.cookie_pop .set_panel .cut span{width: .32rem;height: .32rem;top: .06rem;left: .05rem;}
	.cookie_pop .set_panel .cut.on span{left: .42rem;}
	
	.cookie_det_pop .cookie_det_pop_cont{padding-bottom: 2rem;}
	.cookie_det_pop .btn_wrap{position: absolute;left: 50%;margin-left: -3.12rem;bottom: .58rem;width: 6.24rem;border-right: none;display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;padding-top: 0;}
	/*.cookie_det_pop .btn_wrap .back, .cookie_det_pop .btn_wrap .accept{margin-bottom: 0;}*/
	.cookie_det_pop .btn_wrap .back{margin: 0;width: 100%;}
	
	.cookie_det_pop .det_wrap{padding: 0;width: 100%;}
	.cookie_det_pop .det_table{margin-top: .42rem;width: 100%;overflow: scroll;height: calc(90vh - 7.56rem);}
	.cookie_det_pop .det_table>img{width: 14rem;}

	/*.cookie_pop .btn_wrap{flex-direction: column;}*/
	.cookie_pop .btn_wrap>div{width: 2.94rem;margin: .8rem .16rem 0 .16rem;}
	.cookie_pop .btn_wrap .back{margin-right: 0;}
	.cookie_pop .close{top: .24rem;}

  .cookie_wrap.hasDrive{bottom: 1.62rem}

  .level-menu{height: 1.07rem;}
  .level-menu .centerCon a.logo{margin-right: 0;}
  .level-menu .rightMemu .language{width: 0.38rem; height: 0.38rem; line-height: 0.36rem; border-width: 0.04rem; font-size: 0.2rem;}
  .level-menu .rightMemu a{width: 0.38rem; height: 0.38rem;}
  .level-menu .rightMemu{width: 1.6rem;}
  .level-menu .languageMenu a{width: 100%; font-size: 0.22rem; height: 0.6rem; line-height: 0.6rem;}
  .level-menu .languageMenu{width: 1.8rem;}
  .level-menu.out{top: -1.07rem; transition: all 0.5s;}
  .level-menu .centerCon a.logo{width: 1.72rem; height:0.33rem ;}
  .level-menu .centerCon a.logo img{width: 100% ;}
}